<h1>List of Client's Medicines:</h1>

<% @medicines.each do |medicine| %>

<li><%= link_to medicine.name, medicine_path(medicine) %></li>

<% end %>
<br>
<%= link_to "Back to Client's Profile", client_path(@client) %>

