<div class="center">
<h1>List of Client's Medicines:</h1>
</div>
<div class="center form border">
<% @medicines.each do |medicine| %>

<li><%= link_to medicine.name, medicine_path(medicine) %></li>

<% end %>
</div>
<div class="center">
<%= link_to "Add Client's Meds", new_client_medicine_path(@client) %>
</div>
<div class="center">
<%= link_to "Back to Client's Profile", client_path(@client) %>
</div>
