<h1>Here are your clients:</h1>

<% @clients.each do |client| %>

	<li><%= link_to client.name, client_path(client) %></li>
	
<% end %>

 <br>

<%= link_to "Add a client", new_user_client_path %>

<br>
<br>
<%= link_to "Sign Out", logout_path, :method => :delete %>

<br>
<br>
<%= link_to "About Med Reminder", site_about_path %>





